<%= render 'layouts/header' %>
<div class="container">
  <h2 class="title-lg mb">Editing component: <%= @component.title %></h2>
  <%= render 'form', component: @component %>
</div>
<%= render 'layouts/footer' %>