<div>
  <h2>Catalogue</h2>

  <% @components.each do |component| %>
    <p><%= link_to component.title, component_path(component) %></p>
  <% end %>

  <p>
    <p><%= link_to "Add new component", new_component_path %></p>
  </p>
</div>
