<h2>New component</h2>

<form action="/components" method="POST">
	<p><label for="component[title]">title</label></p>
  <p><textarea name="component[title]"></textarea></p>

  <p><label for="component[description]">description</label></p>
  <p><textarea name="component[description]"></textarea></p>

  <p><label for="component[county]">country</label></p>
  <p><textarea name="component[country]"></textarea></p>

  <p><label for="component[brand]">brand</label></p>
  <p><textarea name="component[brand]"></textarea></p>

  <p><label for="component[market_date]">market date</label></p>
  <p><textarea name="component[market_date]"></textarea></p>

  <p><label for="component[size]">size</label></p>
  <p><textarea name="component[size]"></textarea></p>

  <p><label for="component[connectors]">connectors</label></p>
  <p><textarea name="component[connectors]"></textarea></p>

  <p><label for="component[guarantee]">guarantee</label></p>
  <p><textarea name="component[guarantee]"></textarea></p>

  <p><label for="component[complete_set]">complete set</label></p>
  <p><textarea name="component[complete_set]"></textarea></p>

  <p><label for="component[rating]">rating</label></p>
  <p><textarea name="component[rating]"></textarea></p>

  <p><label for="component[weight]">weight</label></p>
  <p><textarea name="component[weight]"></textarea></p>

  <p><label for="component[price]">price</label></p>
  <p><textarea name="component[price]"></textarea></p>

  <p><label for="component[availability]">availability</label></p>
  <p><textarea name="component[availability]"></textarea></p>

	<p><label for="component[user_id]">user id</label></p>
  <p><input type="number" name="component[user_id]"></p>

  <p><input type="submit" value="create"></p>
</form>