body {
	color: #243492;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button {
	color: #DC2F02;
}

.title-lg {
	font-size: 175%;
}

.title-md, .title {
	font-size: 125%;
}

.text-sm {
	font-size: 80%;
}