
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

.container {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.section-title {
    text-transform: uppercase;
    font-weight: 400;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: white;
    background-color: black;
}

ul>li {
    align-items: center;
    display: grid;
    padding: 0 20px;
}

ul>li:hover {
    background: rgb(130, 0, 0);
    color: white;
    padding: 25px 20px;
    transition: 0.5s;
}

.header {
    border-bottom: 1px solid #c00000;
    background-color: #030303;
}

.main {
    background-color: black;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    align-items: center;
    height: 80px;
    color: rgb(136, 10, 10);
    text-transform: uppercase;
}

.logo {
    font-family: 'Boge';
    font-weight: 400;
    font-size: 30px;
    margin-left: 100px;
}

.logo:hover {
    color: white;
    transition: 0.5s;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    font-weight: 700;
    margin-left: 100px;
}

.menu__login {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    gap: 0 25px;
    margin-left: 100px;
}

.basket {
   position: relative;
   margin-left: 50px;
}

.basket--on span {
    font-size: 11px;
    width: 15px;
    height: 15px;
    background-color: rgb(90, 0, 0);
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: -2px;
}

.catalogue-main {
    background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000);
}

.container {
    width: 1280px;
    flex: 1;
    margin-left: 20px;
}

.all-types__components {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 100px;
}

.all-types__component {
    margin-top: 100px;
    border: 2px rgb(136, 0, 0) solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.all-types__component:hover {
    color: rgb(130, 0, 0);
    transition: 0.5s;
    background-color: #000000;
}

.catalogue__components {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.components__title-all {
    font-size: 60px;
    animation: appear 1s;
    text-align: center;
    color: rgb(136, 10, 10);
    border-bottom: 1px solid;
    padding: 10px 0;
}

.subtitle__main {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.blink {
    animation: blinker 4s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}

.all__components {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}

.component__title-main {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.component__title-main:hover {
    color: rgb(130, 0, 0);
    transition: 0.5s;
}

.component__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(90, 0, 0);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: rgb(24, 24, 24);
}

.component__logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px auto;
    max-width: 100%;
    padding: 20px;
}
  
.component__description {
    margin-top: auto;
    text-align: center;
}

.component__description > span {
    display: block;
    margin-bottom: 5px;
}
  
.price__label {
    font-weight: bold;
}

.component__description > .availability {
    font-style: italic;
  }

.stars {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
  
.stars img {
    height: 15px;
    width: 15px;
}

.more__info {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid;
    padding: 10px 40px;
    border-radius: 10px;
}

.more__info:hover {
    color: rgb(130, 0, 0);
    transition: 0.5s;
}

.note {
    margin: 0 auto;
    width: 1280px;
    margin-top: 80px;
    text-align: center;
}

.main__component-info {
    padding-top: 20px;
    border-top: 1px solid rgb(136, 10, 10);
    border-bottom: 1px solid rgb(136, 10, 10);
    margin-top: 20px;
    margin-bottom: 20px;
}

.added__component-info p::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(59, 59, 59);
    margin-top: 5px;
}

.model__title-main {
    text-align: center;
}
  
.main__component-info p {
    font-size: 1.2rem;
}

.container .action-buttons__all {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
 }
   
.action-buttons__all a, .action-buttons__all button {
    background: linear-gradient(to bottom right, rgb(20, 20, 20), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
  
.container .action-buttons__all button {
    color: #fff;
    background-color: rgb(130, 0, 0);
    border-color: rgb(130, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: #030303;
    border-top: 1px solid rgb(130, 0, 0);
    padding: 60px;
}

.social {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.social__item {
    margin-left: 20px;
}