<h1>Шаг 1: Выберите игру</h1>
<%= form_tag(step1_submit_path) do %>
  <% @games.each do |game| %>
    <%= radio_button_tag :selected_game_id, game.id %>
    <%= game.title %><br>
  <% end %>
  <%= submit_tag "Далее" %>
<% end %>
